<html>
<div class="container">
<div class="login">
    <div id="naslov">
        <div id="loginNaslov">
            <p><a href="/login" style="text-decoration: none; color: white;">Log in</a></p>
        </div>
        <div id="registerNaslov">
            <p><a style="text-decoration: none; color: black;">Register</a></p>
        </div>
        
    </div>
    
    <form>
        <div class="form-group">
            <label for="userFirstname" style="padding: 5px;">First name</label>
            <input type="text" class="form-control" id="userFirstname" placeholder="User" name="firstname" [(ngModel)]="user.FirstName">
          </div>
          <div class="form-group">
            <label for="userLastname" style="padding: 5px;">Last name</label>
            <input type="text" class="form-control" id="userLastname" placeholder="User" name="lastname" [(ngModel)]="user.LastName">
          </div>
          <div class="form-group">
            <label for="userEmail" style="padding: 5px;">Email</label>
            <input type="email" class="form-control" id="userEmail" placeholder="user@gmail.com" name="email" [(ngModel)]="user.Email">
        </div>
        <div class="form-group">
            <label for="userUsername" style="padding: 5px;">Username</label>
            <input type="text" class="form-control" id="userUsername" placeholder="user123" name="username" [(ngModel)]="user.Username">
          </div>
        <div class="form-group">
            <label for="userPassword" style="padding: 5px;">Password</label>
            <input type="password" class="form-control" id="userPassword" placeholder="!User321" name="password" [(ngModel)]="user.Password">
        </div>
        

        <button class="btn" (click)="Register()">Register</button>
    </form>



</div>
</div>
</html>
