<div class="post">
    <div id="slika">
        <img src={{user.profilePicture}} style="width: 70px; height: 70px">
    </div>
    <div id="objava">
        <div id="naslov">
            <h1 (click)="idiNaProfil()"><p>{{post.name}}</p></h1>
            <p>{{post.ago}}</p>
            <p> Lokacija </p>
        </div>
        <hr>
        <div id="sadrzaj">
            <img src={{post.picture}} default-src='self' style="width: 370px; height: 300px;">
        </div>
        <div id="opis">
            <hr>
            <p style="font-size: medium; padding-bottom: 7px;"><b>{{post.username}} :</b> {{post.description}} </p>
            <div id="like" style="display:inline;">
                <h1 *ngIf="!post.iLiked" (click)="likeIt()" style="font-size: x-large; display: inline; cursor: pointer;"><i class="bi bi-heart" style="color: red;"></i></h1>
                <h1 *ngIf="post.iLiked" (click)="unLikeIt()" style="font-size: x-large; display: inline; cursor: pointer;"><i class="bi bi-heart-fill" style="color: red;"></i></h1>
                <h1   style="display:inline; font-size: large; padding-left: 5px;">{{post.numberOfLikes}}</h1>
            </div>
            <div id="comment" style="display:inline; margin-left: 235px;">
                <h1 style="display:inline; font-size: large; padding-right: 5px; color:blue; cursor: pointer;">Comments</h1>
            </div>
        </div>
    </div>
</div>