.post {
    margin-top: 3px;
    display: grid;
    grid-template-columns: 20% 80%;
    border: 0px black solid;
    padding: 10px;
    border: 1px gray solid;
}

#objava, #naslov, #sadrzaj, #opis {
    border: 0px black solid;
}

#sadrzaj {
    margin-left: 21px;
}

#opis {
    padding: 8px;
}

p,h1 {
    margin-bottom: 0px;
}

#naslov {
    padding: 5px;
}

#slika {
    margin-top: 10px;
    padding-left: 10px;
}

#slika img {
    border-radius: 100px;
}

#naslov h1:hover {
    text-decoration: underline;
    cursor: pointer;
}