<div class="post">
    <div id="slika">
        <img src={{user.profilePicture}} style="width: 70px; height: 70px">
    </div>
    <div id="objava">
        <div id="naslov">
            <h1 (click)="idiNaProfil()"><p>{{post.name}}</p></h1>
            <p>{{post.ago}}</p>
            <p> Lokacija </p>
        </div>
        <div id="sadrzaj">
            <img src={{post.picture}} default-src='self' style="width: 300px; height: 250px;">
        </div>
        <div id="opis">
            <p style="font-size: medium;"><b>{{post.username}} :</b> {{post.description}} </p>
            <button class="btn" style="background-color: blue; color: white; margin-left: 130px;">Like</button>
        </div>
    </div>
</div>