<div class="header">
    <div id="naziv" style="display: inline;">
        <h1 style="display: inline; color: white;">Social Network</h1>
    </div>
    <div id="pretragaLevo" style="display: inline;">
        <input type="text" class="form-control" placeholder="Search" name="search" style="width: 350px; display: inline-block;">
        <h1 style="display: inline;"><a href="" ><i class="bi bi-search" style="color: white;"></i></a></h1>
    </div>
    <div id="pretragaDesno" style="display: inline;">
        <h1 style="display: inline;"><a href="" style="text-decoration: none; color: white;"><i class="bi bi-bell"></i></a></h1>
        <button class="btn">Log out <h1 style="display: inline;"><i class="bi bi-box-arrow-right"></i></h1> </button>
    </div>
</div>
