.header {
    padding: 10px;
    background-color: blue;
}

h1 {
    margin-left: 10px;
}

h1:hover {
    cursor: pointer;
    text-decoration: underline;
}

#pretragaLevo {
    margin-left: 200px;
}

#pretragaDesno{
    margin-left: 150px;
}

#pretragaDesno button {
    margin-left: 50px;
    font-size: large;
    color: white;
}