<div class="newPost">
    <div id="slika">
        <img src={{user.profilePicture}} style="width: 70px; height: 70px;">
    </div>
    <div id="sadrzaj">
        <textarea class="form-control" id="text" rows="2" placeholder="What's on your mind?" [(ngModel)]="post.description"></textarea>
        <input class="form-control" type="file"  accept="image/png, image/jpeg" id="formFile" (change)="select($event)">
        <button class="btn" id="btnPost" (click)="savePost()">Post</button>
    </div>
</div>
