<div>
    <h1 style="text-align: center;"><i class="bi bi-heart-fill" style="color: red;"></i> {{post.numberOfLikes}}</h1>
    <hr>
    <div id="users" *ngFor="let user of users" style="margin-bottom: 13px;">
        <div id="slika">
            <img src={{user.profilePicture}} style="width:40px; height: 40px; border-radius:100px;">
        </div>
        <div id="podaci">
            <p id="username" (click)="idiNaProfil(user)" style="font-size: x-large; margin-bottom: 2px;">{{user.username}}</p>
            <p>{{user.firstName}} {{user.lastName}}</p>
        </div>
        <div id="following">
            <div id="others" *ngIf="user.username!=trenutniUser">
                <button *ngIf="user.iFollow" class="btn" (click)="unfollow(user)" style="background-color: red; color: white; width: 100%;">Unfollow</button>
                <button *ngIf="!user.iFollow && user.followingMe && !user.requestSent" class="btn" (click)="follow(user)" style="background-color: rgb(255, 196, 0); color: white; width: 100%;">Follow back</button>
                <button *ngIf="!user.iFollow && !user.followingMe && !user.requestSent" class="btn" (click)="follow(user)" style="background-color: blue; color: white; width: 100%;">Follow</button>
                <button *ngIf="!user.iFollow && user.followingMe && user.requestSent" class="btn" style="background-color: rgb(59, 182, 59); color: white; width: 100%;">Request sent</button>
            </div>
        </div>
    </div>
</div>
