<h1 style="text-align: center;"><i class="bi bi-heart-fill" style="color: red;"></i> {{post.numberOfLikes}}</h1>
<hr>
<div id="users" *ngFor="let user of users">
    <div id="slika">
        <img src={{user.profilePicture}} style="width:40px; height: 40px; border-radius:100px;">
    </div>
    <div id="podaci">
        <p style="font-size: x-large; margin-bottom: 2px;">{{user.username}}</p>
        <p>{{user.firstName}} {{user.lastName}}</p>
    </div>
    <div id="following">
        <div id="others" *ngIf="user.username!=trenutniUser">
            <button *ngIf="user.iFollow" class="btn">Unfollow</button>
            <button *ngIf="!user.iFollow && user.followingMe" class="btn">Follow back</button>
            <button *ngIf="!user.iFollow && !user.followingMe" class="btn">Follow</button>
        </div>
    </div>
</div>
