.header {
    padding: 10px;
    background-color: blue;
}

h1 {
    margin-left: 10px;
}

#pretragaLevo {
    margin-left: 200px;
}

#pretragaDesno{
    margin-left: 150px;
}

#pretragaDesno button {
    margin-left: 30px;
    font-size: large;
    color: white;
}

.sadrzaj{
    height: auto;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
}

.header {
    padding: 10px;
    background-color: blue;
}

h1 {
    margin-left: 10px;
}

h1:hover {
    cursor: pointer;
    text-decoration: underline;
}

#pretragaLevo {
    margin-left: 200px;
}

#pretragaDesno{
    margin-left: 150px;
}

#pretragaDesno button {
    margin-left: 50px;
    font-size: large;
    color: white;
}