<div class="header">
    <div id="naziv" style="display: inline;">
        <img src="/assets/images/logo2.png" style="width: 40px; height: 40px;">
        <h1 (click)="goToHomePage()" style="display: inline; color: white;">Reach Me</h1>
    </div>
    <div id="pretragaLevo" style="display: inline;">
        <input type="text" class="form-control" placeholder="Search" (keyup)="onChange($event)" [(ngModel)]="kriterijum" name="search" style="width: 350px; display: inline-block;">
        <h1 style="display: inline;"><a href="" ><i class="bi bi-search" style="color: white;"></i></a></h1>
        
    </div>
    <div id="pretragaDesno" style="display: inline;">
        <h1 style="display: inline;"><a href="/notifications" style="text-decoration: none; color: white;"><i class="bi bi-bell"></i></a></h1>
        <h1 style="display: inline;"><a href="/chat" style="margin-left: 20px;" ><i class="bi bi-chat-left-dots" style="color: white;"></i></a></h1>
        <button class="btn" (click)="logOut()">Log out <h1 style="display: inline;"><i class="bi bi-box-arrow-right"></i></h1> </button>
    </div>
</div>
<div class="sadrzaj">
    <app-profile-picture [user]="user"></app-profile-picture>
    <div class="content"> 
        <div class="search" *ngIf="pretraga">
            <app-search *ngFor="let user of users" [user]="user"></app-search>
        </div>
        <div class="posts" *ngIf="!pretraga">
            <app-new-post [user]="user"></app-new-post>
            <app-post *ngFor="let post of posts" [post]="post"></app-post>
            <button class="btn" *ngIf="loadMore" (click)="loadMoreFunk()" style="background-color: blue; color:white; margin-left: 230px; margin-top: 5px;">Load more</button>
        </div>
    </div>
    <div class="random">
        <div class="sugestion">
            <div id="oneUser" *ngFor="let one of randomUsers">
                <div id="slikaProf">
                    <img src={{one.profilePicture}} (click)="idiNaProfil(one.id)" style="width: 45px; height: 45px; border-radius: 100px;">
                </div>
                <div id="podaci" style="text-align: center;">
                    <h1 style="margin-bottom: 2px; font-size:large;" (click)="idiNaProfil(one.id)">{{one.username}}</h1>
                </div>
                <div id="butons" style="margin-bottom: 10px;">
                    <button class="btn" *ngIf="!one.followingMe && !one.requestSent" (click)="follow(one)" style="display: inline; background-color: blue; color: white;margin-right: 5px; width: 100%;">Follow</button>
                    <button class="btn" *ngIf="one.followingMe && !one.requestSent" (click)="follow(one)" style="display: inline; background-color: rgb(255, 196, 0); color: white;margin-right: 5px; width: 100%;">Follow back</button>
                    <button *ngIf="one.requestSent" class="btn" style="background-color: rgb(59, 182, 59); color: white; width: 100%;">Request sent</button>
                </div>
            </div>
        </div>
            <div id="reklame">
                <img src="/assets/images/youtube.png" style="width: 150px; height: 150px;">
                <h2><a href="https://www.youtube.com/" style="color: black; text-decoration: none;">YOUTUBE.COM</a></h2>
                <p>Your favorite platform for listening music!</p>
            </div>
    </div>
</div>
