.header {
    padding: 10px;
    background-color: blue;
}

h1 {
    margin-left: 10px;
}

#pretragaLevo {
    margin-left: 200px;
}

#pretragaDesno{
    margin-left: 150px;
}

#pretragaDesno button {
    margin-left: 30px;
    font-size: large;
    color: white;
}

.sadrzaj{
    height: auto;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
}

.header {
    padding: 10px;
    background-color: blue;
}

h1 {
    margin-left: 10px;
}

h1:hover {
    cursor: pointer;
    text-decoration: underline;
}

#pretragaLevo {
    margin-left: 200px;
}

#pretragaDesno{
    margin-left: 150px;
}

#pretragaDesno button {
    margin-left: 50px;
    font-size: large;
    color: white;
}

.sadrzaj {
    background-color: rgba(240, 235, 255, 0.678);
}


#oneUser {
    display: grid;
    grid-template-columns: 15% 40% 45%;
    padding: 10px;
    margin-top: 10px;
}

.sugestion {
    width: 300px;
    background-color: white;
    border: 1px gray solid;
    margin-left: 90px;
    margin-top: 20px;
    border-radius: 30px;
}

#reklame {
    width: 300px;
    margin-left: 90px;
    border: 0px gray solid;
    border-radius: 30px;
    padding: 10px;
    margin-top: 50px;
    text-align: center;
    background-color: white;
}

#reklame img {
    border: 1px black solid;
}