.sadrzaj{
    height: auto;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr 1fr;
}

.header {
    padding: 10px;
    background-color: blue;
}

h1 {
    margin-left: 20px;
}

#reklama {
    width: 300px;
    margin-left: 90px;
    border: 1px gray solid;
    border-radius: 30px;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    background-color: white;
}

#reklame {
    margin-top: 20px;
}

.sadrzaj {
    background-color: rgba(240, 235, 255, 0.678);
}

#reklame img {
    border: 1px black solid;
}

#profile button {
    width: 250px; 
    margin-left: 5px; 
    margin-top: 5px; 
    background-color: blue; 
    color: white;
}
#profile input {
    width: 250px; 
}

h1:hover {
    cursor: pointer;
    text-decoration: underline;
}

#pretragaLevo {
    margin-left: 200px;
}

#pretragaDesno{
    margin-left: 150px;
}

#pretragaDesno button {
    margin-left: 30px;
    font-size: large;
    color: white;
}