<div class="header">
    <div id="naziv" style="display: inline;">
        <h1 (click)="goToHomePage()" style="display: inline; color: white;">Social Network</h1>
    </div>
    <div id="pretragaLevo" style="display: inline;">
        <input type="text" class="form-control" placeholder="Search" (keyup)="onChange()" [(ngModel)]="kriterijum" name="search" style="width: 350px; display: inline-block;">
        <h1 style="display: inline;"><a href="" ><i class="bi bi-search" style="color: white;"></i></a></h1>
        
    </div>
    <div id="pretragaDesno" style="display: inline;">
        <h1 style="display: inline;"><a href="" style="text-decoration: none; color: white;"><i class="bi bi-bell"></i></a></h1>
        <h1 style="display: inline;"><a href="/chat" style="margin-left: 20px;"><i class="bi bi-chat-left-dots" style="color: white;"></i></a></h1>
        <button class="btn">Log out <h1 style="display: inline;"><i class="bi bi-box-arrow-right"></i></h1> </button>
    </div>
</div>
<div class="sadrzaj">
    <div id="profile">
        <app-profile-picture [user]="user"></app-profile-picture>
        <button class="btn" (click)="changePicture($event)">Change picture</button>
        <input *ngIf="izmena" type="file" class="form-control" accept="image/png, image/jpeg" id="formFile" (change)="select($event)">
    </div>
    <div class="posts">
        <app-new-post [user]="user"></app-new-post>
        <app-post *ngFor="let post of posts" [post]="post"></app-post>
    </div>
    <div class="chat">

    </div>
</div>