<div class="header">
    <div id="naziv" style="display: inline;">
        <img src="/assets/images/logo2.png" style="width: 40px; height: 40px;">
        <h1 (click)="goToHomePage()" style="display: inline; color: white;">Reach Me</h1>
    </div>
    <div id="pretragaLevo" style="display: inline;">
        <input type="text" class="form-control" placeholder="Search" (keyup)="onChange($event)" [(ngModel)]="kriterijum" name="search" style="width: 350px; display: inline-block;">
        <h1 style="display: inline;"><a href="" ><i class="bi bi-search" style="color: white;"></i></a></h1>
        
    </div>
    <div id="pretragaDesno" style="display: inline;">
        <h1 style="display: inline;"><a href="/notifications" style="text-decoration: none; color: white;"><i class="bi bi-bell"></i></a></h1>
        <h1 style="display: inline;"><a href="/chat" style="margin-left: 20px;" ><i class="bi bi-chat-left-dots" style="color: white;"></i></a></h1>
        <button class="btn" (click)="logOut()">Log out <h1 style="display: inline;"><i class="bi bi-box-arrow-right"></i></h1> </button>
    </div>
</div>
<div id="sadrzaj"> 
    <div id="likes">
        <div id="naslov">
            <h1 style="margin-top: 10px;">Likes</h1>
        </div>
        <div id="content" *ngFor="let notif of likeNotifications">
            <div id="slika">
                <img src={{notif.fromWho.profilePicture}} (click)="idiNaProfil(notif.fromWho.id)" style="width: 45px; height: 45px; border-radius: 100px;">
            </div>
            <div id="komentar">
                <p><b>{{notif.fromWho.username}}</b> liked your post.</p>
                <p style="font-size: x-small;">{{notif.date | date: 'dd.MM.yyyy. HH:mm'}}</p>
            </div>
            <div id="slikaPosta">
                <img src={{notif.post.picture}} style="width: 45px; height: 45px; border: 1px gray solid;">
            </div>
        </div>
    </div>
    <div id="comments">
        <div id="naslov">
            <h1 style="margin-top: 10px;">Comments</h1>
        </div>
        <div id="content">
            <div id="slika">
                <img src="">
            </div>
            <div id="komentar">
                <p>Milica Maricic je komentarisala vasu objavu.</p>
            </div>
            <div id="slikaPosta">
                <img src="">
            </div>
        </div>
    </div>
    <div id="follows">
        <div id="naslov">
            <h1 style="margin-top: 10px;">Follows</h1>
        </div>
        <div>

        </div>
    </div>
</div>

