.header {
    padding: 10px;
    background-color: blue;
}

h1 {
    margin-left: 10px;
}

h1:hover {
    cursor: pointer;
    text-decoration: underline;
}


#pretragaDesno{
    margin-left: 150px;
}

#pretragaDesno button {
    margin-left: 50px;
    font-size: large;
    color: white;
}

.sadrzaj{
    margin-left: 20px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 30% 70%;
}

.chat #naslov{
    margin-top: 20px;
    width: 615px;
    margin-left: 20px;
}

.chat #poruke {
    margin-left: 20px;
}

#naslov, #lista{
    margin-top: 20px;
    margin-left: 20px;
}

#from {
    width: 600px;
    display: grid;
    max-height: 80%;
    padding-left: 5px; 
}

#for {
    width: 600px;
    display: grid;
    
    max-height: 80%;
     margin: 5px;
    padding-right: 5px; 
    
}
img {
    border: 0px black solid;
    margin-top: 8px;
    margin-left: 5px;
}

#slika img {
    border-radius: 100px;
}

#sadrzajPoruke{
    display: grid;
    grid-template-rows: 70% 30%;
}

#forPoruka {
  margin-right: 12px;
  display: grid;
    grid-template-columns: 90% 10%;
}

#fromPoruka {
  margin-left: 5px;
  display: grid;
    grid-template-columns: 10% 90%;
}


p{
    font-size: medium;
}

#forPoruka {
    text-align: right;
}

#h1Chat{
    padding-left: 0px;
    font-size: large;
}

.poruke {
    background-color: rgb(242, 249, 255);
    width: 615px;
    max-height: 480px;
    border: 1px rgb(148, 148, 148) solid;
}

::-webkit-scrollbar-button:vertical:increment {
    width: 10px;
}

  
  .poruke::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  .poruke::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  .poruke::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

