<div class="header">
    <div id="naziv" style="display: inline;">
        <img src="/assets/images/logo2.png" style="width: 40px; height: 40px;">
        <h1 (click)="goToHomePage()" style="display: inline; color: white; margin-right: 40%;">Reach me</h1>
    </div>
    <div id="pretragaDesno" style="display: inline; ">
        <h1 style="display: inline;"><a href="/notifications" style="text-decoration: none; color: white;"><i class="bi bi-bell"></i></a></h1>
        <h1 style="display: inline;"><a href="/chat" style="margin-left: 3%;" ><i class="bi bi-chat-left-dots" style="color: white;"></i></a></h1>
        <button class="btn" (click)="logOut()">Log out <h1 style="display: inline;"><i class="bi bi-box-arrow-right"></i></h1> </button>
    </div>
</div>

<div class="sadrzaj" >

    <div id="users" style="border: 1px gray solid; border-radius: 30px; height: 540px;">
        <div id="naslov">
        <input type="text" class="form-control" placeholder="Search inbox" (keyup)="onChange()" [(ngModel)]="kriterijum" name="search" style="width: 80%; display: inline-block;">
        <h1 style="display: inline;"><a href="" ><i class="bi bi-search" style="color: black;"></i></a></h1>
        </div>
        <div id="lista">
            <div *ngFor="let user of inboxUsers" (click)="prikaziPoruke(user,$event)">
                <div id="stavkaListe">
                    <img src={{user.profilePicture}} style="width: 50px; height: 50px; border-radius: 100px;">
                    <h1 style="font-size: large; display: inline;">{{user.firstName}} {{user.lastName}}</h1>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <div *ngIf="!prikazi"> 
        <img id="logo" style="margin: 100px;" src="/assets/images/logo.png">
    </div>
    <div class="chat" *ngIf="prikazi">
        <div id="naslov" style="background-color: #0000ff; color: white; height: 40px;">
            <h1 id="h1Chat" style="margin-top: 8px;">{{selektovaniUser.firstName}} {{selektovaniUser.lastName}}</h1>
        </div>
        <div id="poruke" style="margin-top:0px;">
        <!-- <app-chat-item [user]="selektovaniUser"></app-chat-item> -->
        <div class="poruke" style=" overflow: scroll; overflow-x: hidden; " #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <hr>
            <div *ngFor="let mess of messages">
            <div id="from" *ngIf="!for(mess)">
                <div id="fromPoruka">
                    <div id="slika">
                        <img src={{selektovaniUser.profilePicture}} style="width: 40px; height: 40px;">
                    </div>
                    <div id="sadrzajPoruke">
                        <p style="padding-left: 3px; padding-top: 5px;"> {{mess.messageText}}</p>
                        <p style="font-size: x-small; color: gray; padding-left: 3px;">{{mess.time | date: 'dd.MM.yyyy. HH:mm'}}</p>
                    </div>
                </div>
                <hr>
            </div>
            <div id="for" *ngIf="for(mess)">
                <div id="forPoruka">
                    <div id="sadrzaj poruke">
                        <p style=" padding-top: 5px;">{{mess.messageText}}</p>
                        <p style="font-size: x-small; color: gray; ">{{mess.time | date: 'dd.MM.yyyy. HH:mm'}}</p>
                    </div>
                    <div id="slika">
                        <img src={{trenutniUser.profilePicture}} style="width: 40px; height: 40px;">
                    </div>
                </div>
                <hr>
            </div>
            </div>
            <div style="margin-bottom: 10px;">
                <input [(ngModel)]="textZaSlanje" type="text" class="form-control" name="novaPoruka" style="width: 80%; margin-left:7px; display: inline;">
                <button (click)="posaljiPoruku()" style=" margin-left:7px; background-color: blue; color: white; width:70px; display: inline;" class="btn"><i class="bi bi-send"></i></button>
            </div>
        </div>
        
        </div>
    </div>

</div>